<div id="main" style="margin-right: 215px; padding-left: 30px"> 
  <div id="curtain"></div> 
  <div id="loading"> 
    <p>Connecting ...</p> 
    <p><img alt="Log_loader" src="https://assets3.talkerapp.com/images/log_loader.gif?1300194550" /></p> 
  </div>
  <!-- <div id="top_mask"><div class="fade">&nbsp;</div></div> -->
  <div id="chat_log"><table><tbody id="log"></tbody></table></div>

  <div id="message_form" style="left: 192px"> 
    <span class="form_help">?</span> 
    <form id="msgForm" action="/rooms/1/messages" class="fade"> 
      <textarea rows="1" id="msgbox"></textarea> 
      <div class="options"> 
        <a href="#" class="button neutral" id="send" title="">Send</a> 
        <a href="/rooms/819/attachments" accesskey="f" class="button neutral" id="upload" onclick="return false" title="Upload a file">Upload</a> 
        <img src="http://assets3.talkerapp.com/images/loader.gif" width="16" height="11" id="upload_loader" alt="uploading file..." title="Uploading file." style="display:none"/> 
      </div> 
    </form> 
  </div> 
</div> 
